<!-- html -->
<!DOCTYPE html>
<html lang="es">

<!-- head -->
<head>
	<!-- metas -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- /meta -->
	
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet"> 
	<!-- /fonts -->

	<!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- /css -->

</head>
<!-- /head -->

<!-- body -->
<body>
	
	<!-- preloader -->
		<div id="preloader"></div>
		<div id="preloader-bellow1"></div>
		<div id="preloader-bellow2"></div>
		<div id="preloader-bellow3"></div>
	<!-- /preloader -->

	<!-- main section -->
	<div id="vue-app">
		<section id="wrap-content">

			<!-- page 1 -->
			<div class="page main-page  animated zoomIn" v-bind:class="[content.page == 1 ? '' : 'hidden' ]">
				<h1>{{ full_name }}</h1>
				<h3>{{ last_position }}</h3>
				<img class="person" src="assets/img/erick1.jpg" alt="">
				<ul class="personal-contact">
					<li><a v-on:click="show_page(2)" href="#"><i v-on:click="show_page(2)" class="fa fa-code"></i></a></li>
					<li><a v-on:click="show_page(4)" href="#"><i v-on:click="show_page(4)" class="fa fa-html5"></i></a></li>
					<li><a v-on:click="show_page(5)" href="#"><i v-on:click="show_page(5)" class="fa fa-object-group"></i></a></li>
				</ul>
				<h2>{{content.page_content[0].sub_title}}</h2>
				<h3>Hecho con Vue2.js</h3>
			</div>
			
			<!-- page2 -->
			<div class="page main-page" v-bind:class="[content.page == 2 ? '' : 'hidden' ]">
				<h1>Code I</h1>
				<h2>Clavar Tablones</h2>
				
				<div class="arrays animated zoomIn">
					<fieldset>
						<legend>Array A</legend>

						<ul class="array-a array">
							<li class="array-item" v-for="(item, index) in cv.arrays.array_a" v-bind:data-index="index"><span>[{{index}}] <i class="fa fa-arrow-left"></i> {{item}}</span>   <span class="badge badge-info" v-on:click="eliminar_en_a(index)"><i class="fa fa-trash"></i></span></li>
						</ul>
						<div class="input-group">
							<input type="number" class="form-control" placeholder="Ingresa un numero" v-model.number="cv.inputs.input_a">
							<span class="input-group-addon" v-on:click="insertar_en_a"><i class="fa fa-plus"></i></span>
						</div>
					</fieldset>
					<fieldset>
						<legend>Array B</legend>

						<ul class="array-a array">
							<li class="array-item" v-for="(item, index) in cv.arrays.array_b" v-bind:data-index="index"><span>[{{index}}] <i class="fa fa-arrow-left"></i> {{item}}</span>   <span class="badge badge-info" v-on:click="eliminar_en_b(index)"><i class="fa fa-trash"></i></span></li>
						</ul>
						<div class="input-group">
							<input type="number" class="form-control" placeholder="Ingresa un numero" v-model.number="cv.inputs.input_b">
							<span class="input-group-addon" v-on:click="insertar_en_b"><i class="fa fa-plus"></i></span>
						</div>
					</fieldset>
					<fieldset>
						<legend>Array C</legend>

						<ul class="array-a array">
							<li class="array-item" v-for="(item, index) in cv.arrays.array_c" v-bind:data-index="index"><span>[{{index}}] <i class="fa fa-arrow-left"></i> {{item}}</span>   <span class="badge badge-info" v-on:click="eliminar_en_c(index)"><i class="fa fa-trash"></i></span></li>
						</ul>
						<div class="input-group">
							<input type="number" class="form-control" placeholder="Ingresa un numero" v-model.number="cv.inputs.input_c">
							<span class="input-group-addon" v-on:click="insertar_en_c"><i class="fa fa-plus"></i></span>
						</div>
					</fieldset>
					<fieldset class="resultado">
						<legend>Resultado</legend>

						<h4 class="text-center">Tablones <i class="fa fa-arrow-right"></i> {{numero_tablones}}</h4>
						<h4 class="text-center">Clavos <i class="fa fa-arrow-right"></i> {{clavar_tablones}}</h4>
					</fieldset>
				</div>
				<ul class="personal-contact">
					<li><a v-on:click="show_page(1)" href="#"><i v-on:click="show_page(1)" class="fa fa-home"></i></a></li>
					<li><a v-on:click="show_page(2)" href="#" disabled="true"><i v-on:click="show_page(2)" class="fa fa-code text-warning"></i></a></li>
					<li><a v-on:click="show_page(3)" href="#"><i v-on:click="show_page(3)" class="fa fa-arrow-right"></i></a></li>
				</ul>
			</div>

			<!-- page3 -->
			<div class="page main-page" v-bind:class="[content.page == 3 ? '' : 'hidden' ]">
				<h1>Code II</h1>
				<h2>Anagrama</h2>
				
				<div class="arrays animated zoomIn">
					<fieldset>
						<legend>Texto</legend>
						<input type="text" class="form-control" placeholder="Ingresa un numero" v-model="cv.inputs.input_oracion">
					</fieldset>
					<fieldset>
						<legend>Busqueda</legend>
						<input type="text" class="form-control" placeholder="Ingresa un numero" v-model="cv.inputs.input_busqueda">
					</fieldset>
					<fieldset>
						<legend>Mostrar</legend>
						<p>Oracion: <b>{{cv.inputs.input_oracion}}</b></p>
						<p>Busqueda: <b>{{cv.inputs.input_busqueda}}</b></p>
						<p>Anagrama: <b>{{anagrama}}</b></p>
					</fieldset>
					<fieldset class="resultado">
						<legend>Resultado</legend>
						<h4 class="text-center">Total <i class="fa fa-arrow-right"></i> {{coincidencias}}</h4>
					</fieldset>
				</div>
				<ul class="personal-contact">
					<li><a v-on:click="show_page(1)" href="#"><i v-on:click="show_page(1)" class="fa fa-home"></i></a></li>
					<li><a v-on:click="show_page(3)" href="#" disabled="true"><i v-on:click="show_page(3)" class="fa fa-code text-warning"></i></a></li>
					<li><a v-on:click="show_page(2)" href="#"><i v-on:click="show_page(2)" class="fa fa-arrow-left"></i></a></li>
					<li><a v-on:click="show_page(4)" href="#"><i v-on:click="show_page(4)" class="fa fa-arrow-right"></i></a></li>
				</ul>
			</div>

			<!-- page4 -->
			<div class="page main-page" v-bind:class="[content.page == 4 ? '' : 'hidden' ]">
				<h1>Maquetado</h1>
				<div class="wrapper-form">
					<div class="form-header animated fadeInUp">
						<h2>Resumen del monto recibido</h2>
					</div>
					<div class="form-body">
						<ul class="columns">
							<li class="count">
								<ul>
									<li class="list-header">
										<span>Cantidad</span>
										<span>Valor</span>
										<span>Pesos</span>
									</li>
									<li>
										<span>0</span>
										<span><img src="assets/img/billete.jpg" alt="billete"></span>
										<span>0</span>
									</li>
									<li>
										<span>5</span>
										<span><img src="assets/img/billete.jpg" alt="billete"></span>
										<span>25</span>
									</li>
									<li>
										<span>10</span>
										<span><img src="assets/img/billete.jpg" alt="billete"></span>
										<span>100</span>
									</li>
									<li>
										<span>20</span>
										<span><img src="assets/img/billete.jpg" alt="billete"></span>
										<span>400</span>
									</li>
								</ul>
							</li>
							<li  class="count">
								<ul>
									<li class="list-header">
										<span>Cantidad</span>
										<span>Valor</span>
										<span>Pesos</span>
									</li>
									<li>
										<span>100</span>
										<span><img src="assets/img/billete.jpg" alt="billete"></span>
										<span>5.000</span>
									</li>
									<li>
										<span>200</span>
										<span><img src="assets/img/billete.jpg" alt="billete"></span>
										<span>20.000</span>
									</li>
									<li>
										<span>50</span>
										<span><img src="assets/img/billete.jpg" alt="billete"></span>
										<span>10.000</span>
									</li>
									<li>
										<span>100</span>
										<span><img src="assets/img/billete.jpg" alt="billete"></span>
										<span>50.000</span>
									</li>
								</ul>
							</li>
							<li class="total animated zoomIn">
								<div class="cantidad">
									<h4>Cantidad Total</h4>
									<h2>328</h2>
								</div>
								<div class="cantidad">
									<h4>Monto Total</h4>
									<h2><i class="fa fa-dollar"></i>53.564</h2>
								</div>
							</li>
						</ul>
					</div>
					<div class="form-footer">
						<ul>
							<li class="animated fadeInDown">
								<button type="button">Agregar más biletes</button>
							</li>
							<li class="animated fadeInDown">
								<button type="button">Aceptar</button>
							</li>
						</ul>
						
						
					</div>
				</div>
				<ul class="personal-contact">
					<li><a v-on:click="show_page(1)" href="#"><i v-on:click="show_page(1)" class="fa fa-home"></i></a></li>
					<li><a v-on:click="show_page(4)" href="#" disabled="true"><i v-on:click="show_page(4)" class="fa fa-html5 text-warning"></i></a></li>
					<li><a v-on:click="show_page(3)" href="#"><i v-on:click="show_page(3)" class="fa fa-arrow-left"></i></a></li>
					<li><a v-on:click="show_page(5)" href="#"><i v-on:click="show_page(5)" class="fa fa-arrow-right"></i></a></li>
				</ul>
			</div>

			<!-- page5 -->
			<div class="page main-page" v-bind:class="[content.page == 5 ? '' : 'hidden' ]">
				<h1>Modelado I</h1>
				<h2>Diagrama de Secuencia I</h2>
				
				<div class="arrays animated zoomIn">
					<fieldset class="diagrama">
						<legend>Validar Tarjeta y Clave</legend>
						<img src="assets/img/diagrama-secuencia1.jpg" alt="d-secuencia-i">
					</fieldset>
				</div>
				<ul class="personal-contact">
					<li><a v-on:click="show_page(1)" href="#"><i v-on:click="show_page(1)" class="fa fa-home"></i></a></li>
					<li><a v-on:click="show_page(5)" href="#" disabled="true"><i v-on:click="show_page(5)" class="fa fa-object-group text-warning"></i></a></li>
					<li><a v-on:click="show_page(4)" href="#"><i v-on:click="show_page(4)" class="fa fa-arrow-left"></i></a></li>
					<li><a v-on:click="show_page(6)" href="#"><i v-on:click="show_page(6)" class="fa fa-arrow-right"></i></a></li>
				</ul>
			</div>

			<!-- page6 -->
			<div class="page main-page" v-bind:class="[content.page == 6 ? '' : 'hidden' ]">
				<h1>Modelado I</h1>
				<h2>Diagrama de Secuencia II</h2>
				
				<div class="arrays animated zoomIn">
					<fieldset class="diagrama">
						<legend>Retirar Efectivo</legend>
						<img src="assets/img/diagrama-secuencia2.jpg" alt="d-secuencia-i">
					</fieldset>
				</div>
				<ul class="personal-contact">
					<li><a v-on:click="show_page(1)" href="#"><i v-on:click="show_page(1)" class="fa fa-home"></i></a></li>
					<li><a v-on:click="show_page(5)" href="#" disabled="true"><i v-on:click="show_page(5)" class="fa fa-object-group text-warning"></i></a></li>
					<li><a v-on:click="show_page(5)" href="#"><i v-on:click="show_page(5)" class="fa fa-arrow-left"></i></a></li>
					<li><a v-on:click="show_page(7)" href="#"><i v-on:click="show_page(7)" class="fa fa-arrow-right"></i></a></li>
				</ul>
			</div>

			<!-- page7 -->
			<div class="page main-page" v-bind:class="[content.page == 7 ? '' : 'hidden' ]">
				<h1>Modelado II</h1>
				<h2>Diagrama de Clases</h2>
				
				<div class="arrays animated zoomIn">
					<fieldset class="diagrama">
						<legend>Relacion User / Rol</legend>
						<img src="assets/img/diagrama-clases.jpg" alt="d-clases">
					</fieldset>
				</div>
				<ul class="personal-contact">
					<li><a v-on:click="show_page(1)" href="#"><i v-on:click="show_page(1)" class="fa fa-home"></i></a></li>
					<li><a v-on:click="show_page(5)" href="#" disabled="true"><i v-on:click="show_page(5)" class="fa fa-object-group text-warning"></i></a></li>
					<li><a v-on:click="show_page(6)" href="#"><i v-on:click="show_page(6)" class="fa fa-arrow-left"></i></a></li>
				</ul>
			</div>

		</section>
	</div>
	<!-- /main section -->
	
	<!-- scripts -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="assets/js/functions.js"></script>
	<!-- /scripts -->
</body>
<!-- /body -->
</html>
<!-- /html