/*imports*/
@import url('lesshat.less');
@import url('components/flex.less');
@import url('components/functions.less');
@import url('components/general.less');

/*fonts*/
@orbitron: 'Orbitron', sans-serif;
@open: 'Open Sans', sans-serif;

/*colors*/

@button_color: #28c928;
@verde: #99c344;

body{
	font-family: @open;
}
/*preloader*/
#preloader{
	background-color: lighten(black, 50%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQYlWNgYGAwZkAFxjjEcApgSOKTIGgSVpOxKcKqmGiFRFuNUwCHGFaT8erCGuAAtV8HLQ/j6goAAAAASUVORK5CYII=);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1001;
}

#preloader-bellow1{
	background-color: lighten(black, 80%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQYlWNgYGAwZkAFxjjEcApgSOKTIGgSVpOxKcKqmGiFRFuNUwCHGFaT8erCGuAAtV8HLQ/j6goAAAAASUVORK5CYII=);
	bottom: 50vh;
	left: 50vw;
	position: fixed;
	right: 50vw;
	top: 50vh;
	border-radius: 100%;
	z-index: 1000;
}

#preloader-bellow2{
	background-color: lighten(black, 85%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQYlWNgYGAwZkAFxjjEcApgSOKTIGgSVpOxKcKqmGiFRFuNUwCHGFaT8erCGuAAtV8HLQ/j6goAAAAASUVORK5CYII=);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	border-radius: 500px;
	z-index: 1000;
}

#preloader-bellow3{
	background-color: lighten(black, 90%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAMklEQVQYlWNgYGAwZkAFxjjEcApgSOKTIGgSVpOxKcKqmGiFRFuNUwCHGFaT8erCGuAAtV8HLQ/j6goAAAAASUVORK5CYII=);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	border-radius: 500px;
	z-index: 1000;
}

#vue-app{
	.display();
	.justify-content(center);
	.align-items(center);
	.guia(gree);
	min-height: 100vh;
	.transition();
	
	#wrap-content{
		width: 100%;
		max-width: 900px;
		min-height: 450px;
		background: #eee;
		border-radius: 20px;
		box-shadow: 0 0 5px gray;
		padding: 10px;
		.transition();
		.page{
			.transition();
			&.main-page{
				min-height: 600px;
				position: relative;
				&.hidden{
					display: none;
				}
				.display();
				.justify-content(center);
				.align-items(center);
				.flex-direction(column);
				.arrays{
					.display();
					.justify-content(center);
					.flex-wrap(wrap);
					fieldset{
						max-width: 300px;
						min-width: 250px;
						border: solid 2px @button_color !important;
						border-radius: 5px !important;
						margin: 5px 5%;
						padding: 5px;
						&.diagrama{
							width: 75vw;
							max-width: 800px;
							height: auto;
							height: 100%;
							.display();
							.justify-content(center);
							.align-items(center);
							img{
								width: 73vw;
								max-width: 750px;
								width: 100%;
								height: auto;
								border-radius: 5px !important;
							}
						}
						&.resultado{
							.display();
							.flex-direction(column);
							.justify-content(center);
							.align-items(center);
						}
					}
				}
				div.wrapper-form{
					@font-family: @open !important;
					min-height: 500px;
					height: 80%;
					margin: 5% 10px;
					width: 100%;
					max-width: 800px;
					box-shadow: 0 0 5px gray;
					border-radius: 10px !important;
					overflow: hidden;
					>div{
						background: @verde;
						.display();
						.flex-direction(column);
						.align-items(space-between);
						padding: 5px;
						&.form-header{
							min-height: 100px;
							background: #888;
							.display();
							.justify-content(center);
							.align-content(center);
							h2{
								@font-family: @open !important;
								text-align: center !important;
								color: lighten(@verde, 10%);
								font-weight: bolder;
							}
						}
						&.form-body{
							min-height: 300px;
							ul.columns{
								.display(flex);
								.justify-content(space-between);
								.flex-wrap(wrap);
								padding-left: 0;
								margin: 0;
								list-style: none;
								>li{
									height: 100%;
									min-width: 250px;
									min-height: 300px;
									&.count{
										ul{
											list-style: none;
											padding-left: 0;
											margin: 0;
											height: 100%;
											.display();
											.flex-direction(column);
											.justify-content(center);
											li{
												.display();
												.justify-content(space-between);
												color: white;
												>span{
													width: 33%;
													text-align: center;
													color: white;
													font-size: 24px;
													font-weight: bolder;
													margin-bottom: 5px;
													.billete{
														border: solid 2px red;
														border-style: double;
													}
													img{
														border-radius: 0 !important;
													}
												}
												&.list-header{
													>span{
														color: #555 !important;
														text-transform: uppercase;
														font-weight: bolder;
														font-size: 12px;
													}
												}
											}
										}
									}
									&.total{
										.display();
										.justify-content(center);
										.flex-direction(column);
										.cantidad{
											h4{
												text-align: center;
												color: #555 !important;
												text-transform: uppercase;
												font-weight: bolder;
												font-size: 12px;
											}
											h2{
												text-align: center;
												background: white;
												border-radius: 100px;
												color: @verde;
												font-size: 32px;
												font-weight: bolder;
												padding: 12px;
												box-shadow: inset 0 0 10px darken(gray, 10%);
											}
										}
									}
								}
							}
						}
						&.form-footer{
							min-height: 100px;
							ul{
								list-style: none;
								padding-left: 0;
								.display();
								.justify-content(space-around);
								li{
									width: 100%;
									max-width: 45%;
									button{
										text-align: center;
										background: white;
										border-radius: 100px;
										color: white;
										background: @verde;
										font-size: 32px;
										font-weight: bolder;
										padding: 6px;
										box-shadow: inset 0 0 10px darken(@verde, 20%);
										width: 100%;
										border: none;
										.transition();
										cursor: pointer;
										&:hover{
											background: darken(@verde, 15%);
											box-shadow: 0 0 5px darken(@verde, 20%) inset 0 0 10px darken(@verde, 10%);
										}
									}
								}
							}
						}
					}
				}
				img{
					border-radius: 30px;
					border: solid 2px grey;
					box-shadow: 0 0 5px grey;
					max-width: 200px;
					.transition();
					&:hover{
						.scale(1.05);
					}
				}
				p{
					text-align: justify;
					padding: 20px;
					background: #fff;
				}
				ul.collapse, ul.collapsing,.array {
					padding-left: 0;
					li{
						display: block !important;
						&.array-item{
							.display() !important;
							.justify-content(space-between);
							cursor: pointer;
							.transition();
							padding: 2px;
							border-bottom: solid gray 1px;
								&:hover{
									background-color: #ddd;
								};
							.badge{
								.transition();
								i{
									font-size: 15px;
								}
								&:hover{
									background-color: @button_color;
								};
							}
						}
					}
				}
				ul.habilities, 
				ul.jobs, 
				ul.curses, 
				ul.references{
					width: 90%;
					margin: 0 5%;
					list-style: none;
					padding-left: 0;
					li{
						.display();
						.justify-content(space-between);
						padding: 2px 10px;
						a{
							width: 70%;
							padding: 10px;
						}
					}
				}
				ul.personal-contact{
					.display();
					.justify-content(center);
					list-style: none;
					padding-left: 0;
					margin-bottom: 0;
					li{
						margin: 10px;
						font-size: 25px;
						height: 50px;
						width: 50px;
						a{
							color: white;
							.display();
							.justify-content(center);
							background: @button_color;
							padding: 10px;
							border-radius: 50%;
							border: solid 2px transparent;
							.transition();
							text-decoration: none;
							&.text-info{
								border: solid 2px darken(@button_color, 20%) !important;
								i{
									color: darken(@button_color, 20%) !important;
								}
							}
						}
						&:hover{
							a{
								background: white;
								border: solid 2px lighten(@button_color, 10%);
								color: lighten(@button_color, 10%);
							}
						}
					}
				}
			}
		}
	}

}